<%= form_with(model: post, class: "space-y-4", id: "post-form") do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "投稿者", class: "label" %>
    <%= f.text_field :name, class: "input input-bordered w-full", placeholder: "名無しのあるある", required: true %>
  </div>

  <div>
    <%= f.label :category, "カテゴリー", class: "label" %>
    <%= f.select :category, 
        ['RUNTEQ', 'エンジニア・プログラミング', '仕事・学校', '日常生活', 'アニメなど創作物の設定','地域','思い出'], 
        { prompt: 'カテゴリーを選択してください' }, 
        { class: "select select-bordered w-full", required: true } 
    %>
  </div>

  <div>
    <%= f.label :body, "あるある投稿", class: "label" %>
    <%= f.text_area :body, class: "textarea textarea-bordered w-full h-32", required: true, maxlength: 50 %>
  </div>

  <div class="mt-4">
    <%= f.submit "あるある言う", class: "btn btn-primary", id: "submit-button", disabled: true %>
    <%= link_to "戻る", posts_path, class: "btn ml-2" %>
  </div>
<% end %>