<div class="card bg-base-100 shadow-xl">
  <% if post.image.attached? %>
    <figure>
      <%= image_tag post.image.variant(resize: "512x512"), class: "w-full h-64 object-cover" %>
    </figure>
  <% end %>
  
  <div class="card-body">
    <p class="mb-4"><%= post.body %></p>
    <p class="badge badge-primary mb-2"><%= post.category %></p>
    
    <div class="flex items-center gap-2 mb-2">
      <%= button_to mechar_post_path(post), class: "btn btn-ghost btn-sm", form: { data: { turbo: true } } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
      <% end %>
      <span id="<%= dom_id(post, :mr_count) %>" class="text-sm">
        <%= post.mr %>
      </span>
    </div>

    <div class="text-sm text-gray-600">
      <%= post.name %>
      <span class="ml-2"><%= l post.created_at, format: :long %></span>
    </div>
  </div>
</div>